In [2]:
import pandas as pd
import numpy as np
import sys
import matplotlib
import sklearn
import random
import time
import warnings
warnings.filterwarnings('ignore')

In [3]:
#reading test and train file
data_raw_train= pd.read_csv(r"C:\Users\Swati Gupta\Desktop\titanic_train.csv")
data_raw_test= pd.read_csv(r"C:\Users\Swati Gupta\Desktop\titanic_test.csv")
print(data_raw_train.shape)
print(data_raw_test.shape)

(891, 12)
(418, 11)

In [4]:
#making copy of training data
copy_data_raw_train= data_raw_train.copy(deep= True)
copy_data_raw_test= data_raw_test.copy(deep= True)

In [5]:
#taking refrence to clean both train and test data
data_cleaner_for_both = [copy_data_raw_train, copy_data_raw_test]

In [6]:
#to check the null values in both train and test data:

def to_check_null_values(data):
    data= data.isnull().sum()
    return data

In [7]:
to_check_null_values(copy_data_raw_train)

PassengerId           0
Survived              0
ticket_class          0
Name                  0
Sex                   0
Age                 177
Sibling/spouse        0
Parents/children      0
Ticketnumber          0
Fare                  0
Cabinnumber         687
Embarked              2
dtype: int64

In [8]:
to_check_null_values(copy_data_raw_test)

PassengerId           0
ticket_class          0
Name                  0
Sex                   0
Age                  86
Sibling/spouse        0
Parents/children      0
Ticketnumber          0
Fare                  1
Cabinnumber         327
Embarked              0
dtype: int64

# data cleaning

In [9]:
copy_data_raw_train.describe()

,PassengerId,Survived,ticket_class,Age,Sibling/spouse,Parents/children,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
for i in data_cleaner_for_both:
    i['Age'].fillna(i['Age'].median(), inplace= True)
    i['Fare'].fillna(i['Fare'].median(), inplace= True)
    i['Embarked'].fillna(i['Embarked'].mode()[0], inplace= True)

In [11]:
to_check_null_values(copy_data_raw_train)

PassengerId           0
Survived              0
ticket_class          0
Name                  0
Sex                   0
Age                   0
Sibling/spouse        0
Parents/children      0
Ticketnumber          0
Fare                  0
Cabinnumber         687
Embarked              0
dtype: int64

In [12]:
to_check_null_values(copy_data_raw_test)

PassengerId           0
ticket_class          0
Name                  0
Sex                   0
Age                   0
Sibling/spouse        0
Parents/children      0
Ticketnumber          0
Fare                  0
Cabinnumber         327
Embarked              0
dtype: int64

In [13]:
print(copy_data_raw_train.columns.values)
print(copy_data_raw_test.columns.values)

['PassengerId' 'Survived' 'ticket_class' 'Name' 'Sex' 'Age'
 'Sibling/spouse' 'Parents/children' 'Ticketnumber' 'Fare' 'Cabinnumber'
 'Embarked']
['PassengerId' 'ticket_class' 'Name' 'Sex' 'Age' 'Sibling/spouse'
 'Parents/children' 'Ticketnumber' 'Fare' 'Cabinnumber' 'Embarked']

In [14]:
#to chcek the family size
for x in data_cleaner_for_both:
    x['Family_Size']= x['Sibling/spouse'] + x['Parents/children']+1
#if the person is alone then initialize it to 1 else 0
    x['Is_Alone']= 1 
    x['Is_Alone'].loc[x['Family_Size']>1]=0
#spliting title from name:
    x['FareBins'] = pd.cut(x['Fare'], 4)
    x['AgeBins'] = pd.cut(x['Age'].astype(int), 4)

In [15]:
print(copy_data_raw_train.columns.values)
print(copy_data_raw_test.columns.values)

['PassengerId' 'Survived' 'ticket_class' 'Name' 'Sex' 'Age'
 'Sibling/spouse' 'Parents/children' 'Ticketnumber' 'Fare' 'Cabinnumber'
 'Embarked' 'Family_Size' 'Is_Alone' 'FareBins' 'AgeBins']
['PassengerId' 'ticket_class' 'Name' 'Sex' 'Age' 'Sibling/spouse'
 'Parents/children' 'Ticketnumber' 'Fare' 'Cabinnumber' 'Embarked'
 'Family_Size' 'Is_Alone' 'FareBins' 'AgeBins']

In [16]:
for x in copy_data_raw_test:
     #x['Title'] = x['Name'].str.split(", ", expand=True)[1].str.split(".", expand=True)[0]
        
    if(x == 'Name'):
      name = copy_data_raw_test[x]
      print((name.to_string().split(",")[1]))
# #     x['Title'] = x['Name'].to_string().split(",")[1]
# #     print(x['Title'])

 Mr. James
1                       Wilkes

# categorical data cleaning

In [17]:
copy_data_raw_train.head()

,PassengerId,Survived,ticket_class,Name,Sex,Age,Sibling/spouse,Parents/children,Ticketnumber,Fare,Cabinnumber,Embarked,Family_Size,Is_Alone,FareBins,AgeBins
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2,0,"(-0.512, 128.082]","(20.0, 40.0]"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,0,"(-0.512, 128.082]","(20.0, 40.0]"
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,1,"(-0.512, 128.082]","(20.0, 40.0]"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2,0,"(-0.512, 128.082]","(20.0, 40.0]"
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,1,"(-0.512, 128.082]","(20.0, 40.0]"

In [18]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
for dataset in data_cleaner_for_both:    
    dataset['Sex_Code'] = label.fit_transform(dataset['Sex'])
    dataset['Embarked_Code'] = label.fit_transform(dataset['Embarked'])
    dataset['FareBins_code'] = label.fit_transform(dataset['FareBins'])
    dataset['AgeBins_code'] = label.fit_transform(dataset['AgeBins'])

In [19]:
copy_data_raw_train.shape

(891, 20)

In [36]:
#save file
#copy_data_raw_train.to_csv(r"C:\Users\Swati Gupta\Desktop\IEEE\titanic_trainingdata.csv")

In [20]:
#Check multicollinearity
import matplotlib.pyplot as plt
import seaborn as sb

def pearson_corr_value(training_data):
    pearsoncorr= pd.DataFrame(training_data).corr(method= 'pearson')
    plt.figure(figsize= (15,15))

    sb.heatmap(pearsoncorr, xticklabels= pearsoncorr.columns, yticklabels= pearsoncorr.columns, cmap= 'RdBu_r', annot= True, linewidth = 1)

pearson_corr_value(copy_data_raw_train)

In [61]:
print(copy_data_raw_train.shape)
print(copy_data_raw_test.shape)
print(copy_data_raw_train.columns.values)

(891, 20)
(418, 19)
['PassengerId' 'Survived' 'ticket_class' 'Name' 'Sex' 'Age'
 'Sibling/spouse' 'Parents/children' 'Ticketnumber' 'Fare' 'Cabinnumber'
 'Embarked' 'Family_Size' 'Is_Alone' 'FareBins' 'AgeBins' 'Sex_Code'
 'Embarked_Code' 'FareBins_code' 'AgeBins_code']

In [21]:
#remove ticketnumber and cabinnumber from both train and test data
def remove_columns_notcontributing(data):
    data= data.drop(['PassengerId','Ticketnumber','Cabinnumber', 'Name', 'Sex','Age', 'Fare','Embarked', 'FareBins','AgeBins' ], axis=1, inplace= True)
    return data

In [22]:
remove_columns_notcontributing(copy_data_raw_train)

In [23]:
remove_columns_notcontributing(copy_data_raw_test)

In [24]:
print(copy_data_raw_train.shape)
print(copy_data_raw_test.shape)

(891, 10)
(418, 9)

In [72]:
# X_train = copy_data_raw_train.drop("Survived", axis=1)
# Y_train = copy_data_raw_train["Survived"]
# X_test  = copy_data_raw_test.copy()
# X_train.shape, Y_train.shape, X_test.shape

((891, 9), (891,), (418, 9))

# model training

In [64]:
from sklearn.model_selection import train_test_split
from sklearn import metrics

test_size= 0.2
seed= 6
X_training= copy_data_raw_train.drop("Survived", axis=1)
Y_training= copy_data_raw_train['Survived']
x_train, x_test, y_train, y_test= train_test_split(X_training,Y_training,test_size = test_size, random_state= seed)
ytrain = y_train.to_frame() 
ytest= y_test.to_frame()

print(type(x_train))
print(type(x_test))
print(type(ytrain))
print(type(ytest))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [65]:
x_test.head()

,ticket_class,Sibling/spouse,Parents/children,Family_Size,Is_Alone,Sex_Code,Embarked_Code,FareBins_code,AgeBins_code
257,1,0,0,1,1,0,2,0,1
4,3,0,0,1,1,1,2,0,1
488,3,0,0,1,1,1,2,0,1
651,2,0,1,2,0,0,2,0,0
512,1,0,0,1,1,1,2,0,1

In [67]:
#Logistic regression
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(x_train, ytrain)
Y_pred = model1.predict(x_test)
y_pred= pd.DataFrame(Y_pred)
accuracy_with_logistic = (metrics.accuracy_score(y_pred,ytest))
print("Accuracy with logistic model is:", accuracy_with_logistic)

Accuracy with logistic model is: 0.8491620111731844

In [68]:
#K-Nearest Neighbour
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(x_train, ytrain)
Y_pred = knn.predict(x_test)
y_pred= pd.DataFrame(Y_pred)

acc_knn = (metrics.accuracy_score(y_pred,ytest))

print("Accuracy with knn model is:", acc_knn)

Accuracy with knn model is: 0.7821229050279329

In [70]:
#SUPPORT VECTOR MACHINE
from sklearn.svm import SVC
svc = SVC()
svc.fit(x_train, ytrain)
Y_pred = svc.predict(x_test)
y_pred= pd.DataFrame(Y_pred)

acc_svc = (metrics.accuracy_score(y_pred,ytest))
print("Accuracy with svc model is:", acc_svc)

Accuracy with svc model is: 0.8659217877094972

In [71]:
#Naive Bayes
from sklearn.naive_bayes import GaussianNB
gaussian = GaussianNB()
gaussian.fit(x_train, ytrain)
Y_pred = gaussian.predict(x_test)
y_pred= pd.DataFrame(Y_pred)

acc_gaussian = (metrics.accuracy_score(y_pred,ytest))
print("Accuracy with naives model is:", acc_gaussian)

Accuracy with naives model is: 0.8100558659217877

In [72]:
#Decision Tree
from sklearn.tree import DecisionTreeClassifier

decision_tree = DecisionTreeClassifier()
decision_tree.fit(x_train, ytrain)
Y_pred = decision_tree.predict(x_test)
y_pred= pd.DataFrame(Y_pred)

acc_decision_tree = (metrics.accuracy_score(y_pred,ytest))
print("Accuracy with decisiontree model is:", acc_decision_tree)

Accuracy with decisiontree model is: 0.8268156424581006

In [75]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(x_train, ytrain)
Y_pred = random_forest.predict(x_test)
y_pred= pd.DataFrame(Y_pred)

#random_forest.score(x_train, ytrain)
acc_random_forest = (metrics.accuracy_score(y_pred,ytest))
print("Accuracy with randomforest model is:", acc_random_forest)

Accuracy with randomforest model is: 0.8268156424581006